@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');
#main-div {

    background-color: rgba(255, 252, 70, 0.835);
    width : 700px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}
.h1-first-line {

    font-family: 'Hind Siliguri', sans-serif;;

}
.main-image {

    width: 400px;
    border-radius: 10px;
   
}
.pg {

    font-weight:400;
    font-family:'Hind Siliguri', sans-serif;
}